body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, orange, lightyellow); 
    background-image: url(pizza-2.jpg);
    
}

main {
    display: flex;
    justify-content: space-around;
    margin: 3rem;
    padding: 3rem;
}

form {
    padding: 1rem;
}

#name {
    width: 10rem;
    height: 1.5rem;
    border-radius: 0.7rem;
    padding: 0.5rem;
    border-style: none;
}

#delivery {
    width: 10rem;
    height: 2rem;
    border-radius: 0.7rem;
    padding: 0.5rem;
    border-style: none;

}

#order {
    height: fit-content;
    padding: 1rem;
    border-style: solid;
    border-radius: 0.7rem;
    border-color: antiquewhite;


}